{% load django_bootstrap5 %}

<!DOCTYPE html>
<html lang="nb">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title|default:"" }}</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% block head %}
    {% endblock %}
</head>
<body>
<div class="container">
    <header class="p-3 text-bg-dark">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="{% url 'device_list' %}" class="nav-link px-2 text-white">Mine enheter</a></li>
                    <li><a href="{% url 'device_add' %}" class="nav-link px-2 text-white">Ny enhet</a></li>
                </ul>

                <div class="text-end">
                    {% if not user.is_authenticated %}
                        <a href="{% url 'azure_auth:login' %}">
                            <button type="button" class="btn btn-outline-light me-2">Logg inn</button>
                        </a>
                    {% else %}
                        <a href="{% url 'azure_auth:logout' %}">
                            <button type="button" class="btn btn-outline-light me-2">Logg ut</button>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        {% block body %}
        {% endblock %}
    </div>

</body>
</html>