{% extends 'device_selfservice/base.html' %}
{% load django_bootstrap5 %}

{% block body %}
    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}

    <table class="table">
        <tr>
            <th>Lagt til av</th>
            <td>{{ form.instance.added_by.get_full_name }} ({{ form.instance.added_by.email }})</td>
        </tr>
        <tr>
            <th>Lagt til</th>
            <td>{{ form.instance.added }}</td>
        </tr>
    </table>

    {# Display a form #}
    <form action="" method="post" class="form">
        {% csrf_token %}

        {% bootstrap_form form %}

        {% bootstrap_button button_type="submit" content="OK" %}
        {% bootstrap_button content="Avbryt" href='/device_list' %}

    </form>

{% endblock %}